[submodule "debs/balenafin-firmware/src"]
	path = debs/balenafin-firmware/src
	url = https://github.com/balena-io/balena-fin.git
[submodule "debs/sd8887-mrvl/src"]
	path = debs/sd8887-mrvl/src
	url = https://github.com/balena-io/sd8887-mrvl.git
