#!/usr/bin/make -f

#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_install:
	# Blacklist intree drivers
	dh_install debian/sd8887-mrvl-blacklist.conf /etc/modprobe.d/
	
	# Install BT firmware
	dh_install firmware/15.68.19.p33/sd8887_uapsta_a2.bin /lib/firmware/mrvl/

# 
override_dh_auto_configure override_dh_auto_build override_dh_auto_test override_dh_auto_install override_dh_auto_clean override_dh_dkms:
