Source: sd8887-mrvl
Section: kernel
Priority: extra
Maintainer: Andrei Gherzan <andrei@balena.io>
Build-Depends: debhelper (>= 10), dkms
Standards-Version: 4.2.0
Homepage: https://www.marvell.com
Vcs-Browser: https://github.com/balena-io/sd8887-mrvl
Vcs-Git: https://github.com/balena-io/sd8887-mrvl.git

Package: sd8887-mrvl
Architecture: all
Depends: ${misc:Depends}, bc
Description: Marvel SD8887 drivers and firmware
 Marvel SD8887 drivers and firmware
