#!/usr/bin/make -f

#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with dkms

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)

override_dh_install:
	# Install driver sources
	#
	dh_install wlan_src/* usr/src/sd8887-mrvl-$(DEB_VERSION_UPSTREAM)/wlan_src/
	dh_install mbt_src/* usr/src/sd8887-mrvl-$(DEB_VERSION_UPSTREAM)/mbt_src/
	
	# Blacklist intree drivers
	dh_install debian/sd8887-mrvl-blacklist.conf /etc/modprobe.d/
	
	# Install BT firmware
	dh_install firmware/15.68.7.p189/sd8887_uapsta_a2.bin /lib/firmware/mrvl/

# 
override_dh_auto_configure override_dh_auto_build override_dh_auto_test override_dh_auto_install override_dh_auto_clean:
